* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: lightgray;
    position: relative;
}

.slider {
    width: 50vw;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.debug .container .slider {
    background-color: red;
}