* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    height: 100vh;
    background-color: lightgray;
    position: relative;
}

.slider {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.main-img {
    width: 80%;
}

.main-img .img-item {
    height: 100%;
    position: relative;
}

.disable {
    display: none;
}

.active {
    display: block;
}

.main-img .description {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    text-align: right;
    font-size: 13px;
    color: rgb(255, 255, 255);
    background-color: rgba(211, 211, 211, 0.227);
    padding: 10px;
    border-radius: 15px;
}

.items-container {
    width: 20%;
    position: relative;
}

.opacity {
    opacity: 0.5;
}

.no-opacity {
    opacity: 1;
}

.border {
    border: 2px solid lightgrey;
}

#scroll-up, #scroll-down {
    position: absolute;
    background-color: rgba(186, 188, 190, 0.611);
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    line-height: 20px;
    z-index: 2;
}

.items-container i {
    width: 25px;
    height: 20px;
}

#scroll-up {
    top: 10px;
}

#scroll-down {
    bottom: 10px;
}

.items-container .item {
    width: 100%;
    height: calc(100% / 5);
}
