* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    height: 100vh;
    background-color: lightgray;
    position: relative;
}

.slider {
    width: 50vw;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.main-img {
    width: 80%;
}

.main-img .img-item {
    height: 100%;
    position: relative;
    display: none;
}

.active {
    display: block !important;
}

.main-img .description {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.items-container {
    width: 20%;
    position: relative;
}

#scroll-up, #scroll-down {
    position: absolute;
    background-color: rgba(186, 188, 190, 0.611);
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    line-height: 20px;
}

.items-container i {
    width: 25px;
    height: 20px;
}

#scroll-up {
    top: 10px;
}

#scroll-down {
    bottom: 10px;
}

.items-container .item {
    width: 100%;
    height: calc(100% / 5);
}






/* .debug h1, .debug p {
    border: 1px solid black;
    background-color: yellow;
    height: 20px;
    width: 100px;
} */

.debug .item {
    background-color: green;
    border: 1px solid black;
}

.debug .main-img {
    background-color: blue;
}

.debug .items-container {
    background-color: blueviolet;
}

.debug .container .slider {
    background-color: red;
}